.ava__section {
    width: 100%;
    background: #003057;
    padding-top: 163px;
}

.ava__container {
    display: flex;
}

/* Left */
.ava__container-left {
    width: 273.5px;
    display: flex;
    flex-direction: column;
}

.ava__h5 {
    font: normal normal bold 41px/30px "din-2014";
    margin-bottom: 25px;
}

/* Floors */
.ava__floors-list {
    width: 273px;
    height: 435px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
}

.ava__floor {
    display: flex;
    align-items: center;
    width: 100%;
    border-top: 1px solid rgb(125, 203, 255);
    padding: 0 2px;
}

.ava__floor:hover {
    background-color: #496a85;
}

.ava__floor:last-child {
    border-bottom: 1px solid rgb(125, 203, 255);
}

.ava__floor-num {
    font-size: 1.5rem;
    width: 60px;
}

.ava__floor-text {
    width: 200px;
}

.ava__floor-icons {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
}

.ava__floor-icons>img {
    margin-left: 10px;
}

/* icons container */
.ava__icons-container {
    display: flex;
    flex-direction: column;
}

.ava__icons-container>ul {
    list-style: none;
}

.ava__icon {
    display: flex;
}

.ava__icon-img-div {
    display: flex;
    width: 20px;
    height: 100%;
    margin-right: 10px;
    margin-bottom: 12px;
}

.ava__icon-text-div>img {}

.ava__button {
    background: #39BC89;
    width: 213px;
    height: 38px;
    border-radius: 100px;
    border: none;
}

/* Right  */
.ava__container-right {
    width: 100%;
    margin-left: 135px;
}

.ava__container-right>img {
    height: 572.04px;
}